.add{
    width: 100%;
    display: grid;
    grid-template-columns: 17.5% 77.5%;
    grid-gap: 2.5%; /* 사이드바와 메인 컴포넌트 사이의 간격 */

    @media (max-width: 768px) {
        grid-template-rows: 65% 35%;
        grid-template-columns: 1fr; /* 작은 화면에서는 한 줄로 배치 */
        height: 100%;
    }
}

.add img{
    cursor: pointer;
}

.add input{
    margin: 10px auto;
    width: 90%;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
}

.add textarea{
    margin: 10px auto;
    width: 90%;
    height: 20vh;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
}

.add .container{
    margin: 10px auto;
    width: 90%;
    border: 1px dashed rgb(131, 131, 131);
}

.add input[type=submit]{
    height: 3vh;
    background-color: rgb(48,48,48);
    color: orangered;
    font-weight: bold;
    cursor: pointer;
}
